<div>
  <h1>Restablecer contraseña</h1>

  <div>
    <form action="/api/users/new-pass/{{user}}" method="post">
      <label for="newPass">Nueva contraseña</label><br />
      <input
        type="newPass"
        name="newPass"
        id="newPass"
        placeholder="introduzca nueva contraseña"
      />
      
      
      <br />
      <button type="submit">submit</button>
    </form>
  </div>

</div>
