<div class="container">
    <div>
         <div class="col margin-auto">
     <h2>Agregar producto</h2>
<form action="/api/products/" id="formulario" method="post" enctype="multipart/form-data">
  <label for="title">Nombre:</label><br>
  <input type="text" id="title" name="title" ><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description" ><br>
  <label for="price">price:</label><br>
   <input type="text" id="price" name="price" ><br>
  <label for="file">thumbnail:</label><br>
  <input type="file" id="file" name="file"/>
  <br>
  <label for="code">code:</label><br>
   <input type="text" id="code" name="code" ><br>
  <label for="stock">stock:</label><br>
  <input type="number" id="stock" name="stock" ><br><br>
   
  <input type="submit" value="Submit">
</form>
  </div>
    </div>

</div>