<div>
  <h1>Restablecer contraseña CADUCO - pidalo nuevamente</h1>
  <div>
    <form action="/api/forgot-pass/" method="post">
            
      <br />
      <button type="submit">Restablecer contraseña</button>
    </form>
  </div>

</div>
